body {
    background: #fff;
}

aside {
    float: right;
    background: #2f4f4f;
    width: 20%;
    padding: 2.5%;
    height: 200vh;
    color: #fff;
    border-left: 5px solid #7f7f7f;
}

aside img {
    width: 80px;
    float: left;
}

aside .logo {
    fomt-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: -5px;
}

aside h3 {
    margin-top: 50px;
    font-size: 28px;
}

aside ul {list-style: none}
aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #000000;
    text-decoration: none;
    transform: scale(1.05);
}

main .features {
    float: left;
    color: #000000;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .features h1 {font-size: 50px;}
main .features p {max-width: 400px; margin: 20px auto}

.alert-warning {
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 34%;
    text-align: left;
}

form {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}

.map {
    width: 200px; /* Укажите желаемую ширину карты */
    height: 200px; /* Укажите желаемую высоту карты */
    background-color: #181818; /* Замените на ваш цвет фона */
    border: 1px solid #ccc; /* Граница для карты */
    margin-top: 110px; /* Расстояние сверху */
    margin-right: 10px; /* Расстояние справа */
    float: right; /* Перемещаем карту вправо */
}

a {
    text-decoration: none;
}


/* Стиль для заголовка */
.my-heading {
    color: #333; /* Цвет текста */
    font-size: 32px; /* Размер шрифта */
    font-weight: bold; /* Жирный шрифт */
    text-align: center; /* Выравнивание текста по центру */
    text-transform: uppercase; /* Преобразование текста в верхний регистр */
    margin-top: 20px; /* Внешний отступ сверху */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Тень текста */
}

/* Пример стиля для параграфов */
.my-paragraph {
    color: #666; /* Цвет текста */
    font-size: 18px; /* Размер шрифта */
    line-height: 1.5; /* Межстрочное расстояние */
    text-align: justify; /* Выравнивание текста по ширине */
}